<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="shadow-lg p-3 mb-5 bg-white rounded">
<h1 th:text =${fileData}></h1>

</div>

</body>
</html>