<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="webjars/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet">
		<title>File Manager</title>
	</head>
	<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light mb-3 p-1">
	<a class="navbar-brand m-1" href="#">File uploader</a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/upload">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/upload">Files</a></li>
		</ul>
	</div>
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
	</ul>	
</nav>
<div class="container">
<table class="table" id="table1">
    <thead>
    <tr>
        <th>FileNames</th><th style="visibility:collapse">FileID</th><th>View</th><th>Summarized View</th>
    </tr>
    </thead>
    <tbody>
	     <tr th:each="file : ${files}">
            <td th:text="${file.fileName}"></td>
            <td style="visibility:collapse"th:text="${file.fileId}"></td>
            <td><a href=# th:href="@{/text(fileId=${file.fileId},flag=${false})}" class="btn btn-primary">view text</a></td>
            <td><a href=# th:href="@{/text(fileId=${file.fileId},flag=${true})}" class="btn btn-primary">view summarized text</a></td>
        </tr>
	    	</tbody>
</table>
</div>

<script th:inline="javascript">
  console.log("hello");
</script>
<script src="webjars/jquery/3.6.0/jquery.min.js"></script>
		<script src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
		<script src="webjars/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</body>
</html>
