<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<table class="table" id="table1">
    <thead>
    <tr>
        <th>UserName</th><th>HostName</th><th>SerialNumber</th>
    </tr>
    </thead>
    <tbody>
	     <tr th:each="users : ${user}">
            <td th:text="${users.userName}"></td>
             <td th:text="${users.hostName} "></td>
              <td th:text="${users.serialNumber}"></td>
          </tr>
	    	</tbody>
</table>

</body>
</html>